<%- if @folder %>
  <%- _params = params.merge(folder: @folder.parent_id.to_s).clone %>
  <!-- <span><%= link_to "<- назад", ckeditor.pictures_path(_params) %></span> -->
  <h2><%= @folder.full_path_array(_params).flatten.map { |p| link_to p[:name], ckeditor.pictures_path(p[:params]), title: p[:name] }.join("/").html_safe %></h2>
<%- else %>
  <h2><%= link_to 'Главная', ckeditor.attachment_files_path(params), title: 'Главная' %></h2>
<%- end %>

<div id="fileupload" class="gal-holder">
  <%- if @folder and @folder.parent %>
    <%= render partial: 'ckeditor/shared/folder', locals: {folder: @folder.parent, path_method: :attachment_files_path, is_go_back: true} %>
  <%- elsif !@folder.nil? %>
    <%= render partial: 'ckeditor/shared/folder', locals: {folder: nil, path_method: :attachment_files_path, is_go_back: true} %>
  <%- end %>

  <div class="folder-item">
    <div class="add-folder-button gal-upload-holder">
      <%= text_field 'folder', 'name', value: '', style: 'height: 20px' %>
      <br>
      <%- _title = I18n.t(:add_folder, scope: [:ckeditor, :buttons]) %>
      <%- _url = ckeditor.folders_path(params.merge(folder: {parent_id: (@folder and @folder.id.to_s)})) %>
      <%- _onclick = '$.post(this.href + "&" + $(this).siblings("input").serialize(), function(data){$(".folders-list").append(data); set_drag_events($(".folder-item"));}); return false;' %>
      <%= link_to _title, _url, class: "add", onclick: _onclick %>
    </div>
  </div>

  <div class="folders-list" data-endless="true">
    <%= render partial: 'ckeditor/shared/folder', collection: @folders, locals: {path_method: :attachment_files_path}  %>
  </div>


  <div class="gal-item">
    <div class="fileupload-button gal-upload-holder">
      <%= link_to I18n.t(:upload, scope: [:ckeditor, :buttons]), 'javascript:void(0)', class: "add" %>
    </div>
  </div>

  <div class="fileupload-list">
    <%= render partial: 'ckeditor/shared/asset', collection: @attachments %>
  </div>

  <% unless @attachments.last_page? %>
    <div class="pagination">
      <%= link_to I18n.t("ckeditor.buttons.next"), ckeditor.attachment_files_path(params.merge(page: @attachments.next_page)), class: "next", rel: "next" %>
    </div>
  <% end -%>

  <script type="text/javascript">
    <%- opts = {formData: {folder_id: (@folder and @folder.id.to_s) } } %>
    <%= Ckeditor::Utils.js_fileuploader('attachments', opts) %>
  </script>
</div>
